html, body {
    min-width: 1000px;
    min-height: 700px;
}

.logo-stub {
    min-height: 128px;
    min-width: 128px;
}

.title {
    font-size: 5em;
}

.title-row {
    border-bottom: black dotted 1px;
}

.subtitle {
    font-size: 1.75em;
}

#class-list-title {
    font-size: 3em;
}

#class-list {
    font-size: 3em;
}